@charset "UTF-8";
@import './layout.scss';

@mixin btn($size: 19px,$color: #fff,$bgcolor: #f04752,$padding:5px,$radius:5px){
  padding:$padding;
  background-color: $bgcolor;
  border: 1px solid $bgcolor;
  font-size: $size;
  color: $color;
  text-align: center;
  // line-height: 1;
  display: inline-block;
}

@mixin list($direction:column) {
  @include flex($direction);
}

@mixin panel($bgcolor:#fff,$padding:0,$margin:20px 0 0 0,$height:112px,$txtPadding:0 32px,$color:#333,$fontSize:32px) {
  background-color: $bgcolor;
  padding: $padding;
  margin: $margin;
  >h4{
    height: $height;
    line-height: $height;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    color: $color
  }
}

@mixin zpanel($bgcolor:#fff,$padding:0,$margin:20px 0 0 0,$height:112px,$txtPadding:0 32px,$color:#333,$fontSize:32px){
  background-color: $bgcolor;
  padding: $padding;
  margin: $margin;
  .head{
    @include list(row);
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
    >h4{
      color: black; font-weight: bolder;
      font-size: 33px;
    }
    >p{
      font-size: 23px;
      color: gray;
    }

  }
  .zpanel_img{
    width: 100%;
    img{width: 100%; margin: 20px 0;}
  }
}